
html, body, .bg {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: 'Microsoft YaHei';
  background-color: white;
}
/* 去掉ios输入框内阴影 */
.input-bar-box .border-box .check-bar input[type=checkbox] {
  appearance: checkbox;
  -webkit-appearance: checkbox;
}

.radio-bar input[type=radio] {
  appearance: radio;
  -webkit-appearance: radio;
}

input, textarea {
  appearance: none;
  -webkit-appearance: none;
}

/* 去掉ios按钮默认样式 */
.button {
  padding: 0;
  margin: 0;
}
.clear {
  clear: both;
}
.bg {
  height: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100%;
  background-image: url('../images/2-bg.png');
}
.content {
  padding-top: 4%;
  max-width: 960px;
  margin: auto;
  background-color: transparent;
}
.content img {
  display: block;
}
.title {
  width: 85%;
  margin-bottom: 6%;
}
.login-title {
  height: 35px;
  line-height: 35px;
  margin: 20px 0;
  color: #f86762;
  font-size: 26px;
}
.big-title {
  height: 40px;
  line-height: 35px;
  margin: 20px 0;
  color: #f86762;
  font-size: 40px;
}
.button-box {
  width: 30%;
  margin: 5% 0;
}
.button-box .button, .button-box a {
  height: 40px;
  width: 120px;
  background: none;
  border: 1px solid #6a1d1c;
  border-radius: 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  color: #6a1d1c;
  box-sizing: content-box;
  font-family:'Microsoft YaHei';
}

.button-box .button, .button-box input {
  height: 40px;
  width: 120px;
  background: none;
  border: 1px solid #6a1d1c;
  border-radius: 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  color: #6a1d1c;
  box-sizing: content-box;
  font-family:'Microsoft YaHei';
}

.button-box .login, .button-box .last {
  margin-left: 1px;
  float: left;
}
.button-box .land, .button-box .next {
  float: right;
}
.tab-bar {
  line-height: 40px;
}
.login-box input {
  border: 1px solid #6a1c1c;
  border-radius: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 60%;
  margin: 3% 0;
  display: block;
  font-size: 20px;
  outline: none;
  padding: 0 10px;
  background-color: transparent;
}
.input-bar-box {
  margin-bottom: 4%;
}
.radio-bar {
  padding-top: 20px;
}
.input-bar-box .input-bar {
  text-align: center;
  width: 61%;
  margin: 3% 0;
  display: block;
  font-size: 20px;
  line-height: 40px;
  position: relative;
}
.input-bar-box .input-bar .text {
  float: left;
  width: 130px;
  text-align: left;
  color: #6a1c1c;
  font-size: 24px;
}

.input-bar-box .input-bar .text-explain {
  float: left;
  width: 130px;
  text-align: left;
  color: #6a1c1c;
  font-size: 24px;
  line-height: 24px;
}

.lp-20 {
  margin-left: 20px;
}

.input-bar-box .input-bar .text-explain .explain {
  font-size: 12px;
  line-height: 20px;
}

.input-bar-box .input-bar input[type=text], .input-bar-box .input-bar input[type=password], .input-bar-box .input-bar select {
  border: 1px solid #6a1c1c;
  border-radius: 20px;
  outline: none;
  float: left;
  width: 424px;
  padding: 0 10px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  box-sizing: content-box;
}

/* 选择框 */
.input-bar-box .input-bar .check-box {
  float: left;
  width: 445px;
  color: #6a1c1c;
}

.input-bar-box .input-bar .border-box {
  border: 1px solid #6d1c26;
}

.input-bar-box .input-bar .no-top {
  border-top: none;
}

.input-bar-box .border-box .check-bar input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 1px solid #8d5155;
  margin: 10px 0;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.input-bar-box .border-box .check-bar input[type=checkbox] {
  margin-left: 20px;
}

.input-bar-box .check-bar {
  line-height: 40px;
  text-align: left;
  font-weight: 100;
}

.mini .input-bar-box .check-bar {
  font-weight: normal;
}

.content table {
 border: 1px solid #6a1c1c;
  border-radius: 10px;
  border-collapse: unset ;
}

/* 增加的内容 */
tr th:nth-last-child(1) {
  border-right: none;
}
tr:nth-last-child(1) th {
  border-bottom: none;
}

td {
  text-align: center;
}
th {
  text-align: center;
  border: none;
  border-bottom: 1px solid #6a1c1c;
  border-right: 1px solid #6a1c1c;
  font-weight: normal;
  text-align: left;
  padding-left: 5px;
  color: #6a1c1c;
  height: 40px;
}
option {
  text-align: center;
}

/* 大量文本输入 */
.input-bar-box .input-bar textarea {
  border: 1px solid #6a1c1c;
  border-radius: 20px;
  outline: none;
  float: left;
  width: 420px;
  padding: 6px 10px;
  height: 115px;
  resize: none;
  background-color: transparent;
}

/* 表格文字样式 */
.input-bar-box .input-bar table {
  font-size: 12px;
  line-height: 20px;
}
/* 表格里的输入框有自己的样式 */
.input-bar-box .input-bar table tbody input[type=text] {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 25px;
  background-color: transparent;
}

/* 短的输入框 */
.content .input-bar-box .input-bar .short {
  width: 125px;
  float: left;
}

/* 有条线的输入框 */
.line-input {
  border: none;
  border-bottom: 1px solid #f96569;
  width: 83%;
  height: 50px;
  margin: 10px auto;
  outline: none;
  font-size: 26px;
  color: #52504f;
  caret-color: #52504f;
  border-radius: 0;
  background-color: transparent;
}

.line-input::-webkit-input-placeholder {
  color: #f86762;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Microsoft YaHei';
}

/* 输入条 */
input::-webkit-input-placeholder {
  color: #f86762;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Microsoft YaHei';
}
::-webkit-input-placeholder {
  font-family: 'Microsoft YaHei';
  font-size: 18px;
  /* text-align: justify; */
  /* word-break: break-all; */
  /* text-align: center; */
}
textarea::-webkit-input-placeholder {
  font-size: 16px !important;
}
.info-box {
  color: #8e5356;
  font-size: 20px;
  line-height: 40px;
  width: 86%;
  text-align: justify;
  font-weight: 100;
}

.mini .info-box {
  font-weight: normal;
}

.important {
  font-size: 20px;
  margin: 20px auto;
  padding-left: 1px;
  color: #6a1d1c;
  font-weight: 100;
}

.mini .important {
  font-weight: normal;
}

.separate {
  height: 20px;
}

.tab-bar .item {
  float: left;
  padding-right: 60px;
  color: #6a1c1c;
  font-size: 22px;
}

.content-text {
  color: #6a1c1c;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
}

.mini .content-text {
  font-weight: normal;
}

.content-text span {
  font-size: 24px;
  font-weight: normal;
  padding-right: 32px;
}

.table-box table {
  width: 444px;
}

.add {
  font-size: 14px;
  text-align: left;
  line-height: 25px;
  margin: 5px 0;
  color: #6a1c1c;
  padding-left: 130px;
  cursor: pointer;
}

/* 单选框 */
.radio-bar input {
  width: 20px;
  height: 20px;
  border: 1px solid #8d5155;
  float: left;
  margin: 0;
}

.radio-bar .check-text {
  float: left;
  padding-right: 39px;
  line-height: 20px;
  padding-left: 10px;
}

/* 手机屏幕下 */
.mini .login-box input {
  margin: 20px 10%;
  width: calc(80% - 20px);
  height: 33px;
  background-color: transparent;
}
.mini .bg {
  /* 手机上比例要大一点 */
  background-size: 160%;
  /* 网上偏移一点，往右偏移一点 */
  background-position: 71% 100%;
}
.mini .button-box {
  width: 80%;
  margin: 25px auto;
}
.mini .button-box a, .mini .button-box .button {
  height: 30px;
  width: 120px;
  line-height: 30px;
  font-size: 19px;
  font-weight: 400;
}
.mini .title {
  margin: 0 auto;
  padding: 9% 10%;
  width: 80%;
}
.mini .login-title {
  margin: 20px 10%;
  height: 26px;
}
.mini .forget {
  margin: 0 10%;
}

.mini .input-bar-box .input-bar {
  padding: 10px 10%;
  width: 80%;
  text-align: left;
  margin: 0;
  line-height: 25px;
}

.mini .input-bar-box .input-bar .text {
  font-size: 18px;
  width: 100px;
}

.mini .input-bar-box .input-bar input, .mini .content .input-bar-box .input-bar .short, .mini .input-bar-box .input-bar select {
  width: calc(100% - 119px);
  height: 22px;
  padding: 0 6px;
  box-sizing: border-box;
}

.mini .info-box {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  text-justify: inter-ideograph;
}

.mini .line-input {
  display: block;
  width: 80%;
  height: 40px;
}

.mini .important {
  width: 80%;
  color: #45070e;
  /* 没对齐往右两个像素 */
  padding-left: 2px;
  font-size: 16px;
}

.mini .tab-bar .item {
  font-size: 15px;
  width: 25%;
  padding-right: 0;
}
.tab-bar .active {
  color: #f86762;
}

.mini .big-title {
  margin: 0 10%;
  font-size: 26px;
}
.mini .content-text {
  margin: 0 10%;
  font-size: 14px;
  line-height: 40px;
}
.mini .content-text span {
  font-size: 18px;
}

.mini .input-bar-box .input-bar .text-explain {
  font-size: 18px;
  line-height: 14px;
  width: 100px;
}

.mini .input-bar-box .input-bar .explain {
  font-size: 12px;
}

.mini .tab-bar {
  margin: 3% 10%;
}

.mini .lp-20-clear {
  clear: both;
}
.mini .lp-20 {
  margin-left: 0;
  margin-top: 15px;
}

.mini .input-bar-box .explain .lp-21 {
  margin: 0;
  margin-top: 15px;
}

.mini .table-box {
  padding-top: 40px;
}

.mini .input-bar-box .input-bar table {
  width: 100%;
}


.mini .input-bar-box .input-bar textarea {
  width: calc(100% - 140px);
  background-color: transparent;
  resize: none;
}

.mini .add {
  padding-left: 0;
  text-align: center;
}

.mini .input-bar-box .explain input {
  /* margin: 3px 0px; */
}

.mini .input-bar-box .input-bar .check-box {
  width: 100%;
  font-size: 16px !important;
  padding-top: 10px;
}

.mini .input-bar-box .radio-bar {
  margin: 0 10%;
}

.mini .tip-bar {
  padding: 0;
}

.mini .input-bar-box .input-bar .check-bar .line-input {
  display: inline;
  width: calc(100% - 187px);
}

/* 增加的内容 */
.mini th {
  height: 20px;
}

.mini ::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 14px;
  line-height: 20px;
}

.mini ::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
  line-height: 20px;
}

.mini :-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 14px;
  line-height: 20px;
}  

.mini .input-bar input {
  line-height: 20px !important;
  font-size: 14px !important;
}
.mini textarea::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 14px;
}

.mini textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
}

.mini textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 14px;
}   

.mini input, .mini textarea {
	font-size: 14px;
}